.ratingStars {
    float:left;
    padding-top: 2%;
}


.ratingStars:not(:checked) > input {
    position:absolute;
    display: none;
    /*top:-9999px;*/
    /*clip:rect(0,0,0,0);*/
}

.ratingStars:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    color:#ddd;
    margin-top: -2px;
    padding-left: 1%;

}

.ratingStars:not(:checked) > label:before {
    content: '★ ';
}

.ratingStars > input:checked ~ label {
    color: gold;

}

.ratingStars:not(:checked) > label:hover,
.ratingStars:not(:checked) > label:hover ~ label {
    color: gold;

}

.ratingStars > input:checked + label:hover,
.ratingStars > input:checked + label:hover ~ label,
.ratingStars > input:checked ~ label:hover,
.ratingStars > input:checked ~ label:hover ~ label,
.ratingStars > label:hover ~ input:checked ~ label {
    color: #ea0;

}

span .control-label {
    color:#444;
}

.ratingWrap {
    display: inline-flex;
}



@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .col-sm-3{
        width: 50%;
    }

    .col-sm-6 {
        width: 100%;
    }

    .reviewStars {
        padding-left: 10%;
    }
    .padding {
        padding-left: 10px;
    }

    .single-review {
        width:100%;
    }
    .review-field {
        width: 100%!important;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .ratingWrap {
        display: inline;
    }
    .reviewStars {
        padding-left: 25%;
    }
    .padding {
        padding-left: 4px;
    }
    .single-review {
        width:100%;
    }
    .review-field {
        width: 100%!important;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .ratingWrap {
        display: inline-block;
    }
}
